<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
<div class="search-box">
    <input #searchBox id="searchBox" type="text" placeholder="Buscar por id...." (input)="searchPerson(searchBox.value)">
    <ul class="search-results">
        <li *ngFor="let person of people$ | async">
            <a routerLink="/person/{{person.id}}" (click)="searchBox.value=''">
                {{person.id}} - {{person.name}}
            </a>
        </li>
    </ul>
    <button class="search-button" (click)="searchPersonDetails(searchBox.value); searchBox.value = ''"><span class="small-alt">Buscar</span></button>
</div>

