<link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
<div class="center-content">
    <h1>Pulsaciones Web</h1>
</div>
<div class="center-content">
    <picture class="left_to_right">
        <img src="../../../assets/pictures/imagen 1.jpg" alt="imagen" 
            width="965px" height="300px">
            <h1></h1>
            
            <p style="text-align:center;">Las pulsaciones  es un reflejo de la frecuencia cardiaca, que es el número de latidos que tiene el corazón por minuto.
                <br>Habitualmente se toma el pulso en diez segundos y se multiplica por seis.
                <br> El pulso máximo a la que podría llegar una persona no debe sobrepasar el valor de 220 pulsaciones menos la edad de esa persona.
                
                
            
            </p>
    </picture>
</div>

