.menu-header {
  display: flex;
  background-color: rgb(5, 89, 104);
  margin-bottom: 10px;
}

.main-menu {
  overflow: hidden;
  display: flex;
  justify-content: left;
  width: 96%;
  height: auto;
  padding: 0% 2%;
  background-color: rgb(5, 89, 104);
}

.main-menu * {
  box-sizing: border-box;
}

.main-menu > ul {
  overflow: hidden;
  width: 70%;
  margin-bottom: 0px;
}

.main-menu li {
  display: inline-block;
  height: 50px;
  padding: 15px 10px 0px 10px;
  margin-right: 5px;
}

.main-menu a {
  display: block;
  font: 400 18px Montserrat;
  color: white;
  text-decoration: none;
}

.main-menu li:hover {
  background-color: #CAF0F8;
  border-radius: 2px;
}

.main-menu li:hover a {
  color: black;
  font: small 18px Arial;
}

.menu {
  display: inline-block;
  width: 70%;
}

.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  vertical-align: middle;
  width: 30%;
  min-width: 150px;
  height: 100%;
  margin-right: 16px;
  margin-top: 12px;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
